.header {
    background: url(../../public/DSCN1138-1920px.webp) no-repeat center;
    background-size: cover;
    min-height: 90vh;
  }

.navbar{
    padding: 30px;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    align-items: center;
}

.collapse{
    justify-content: end !important;
}

.shoppingCart{
    font-size: 19px;
}